# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
env/
.venv.bak/

# Distribution / packaging
build/
dist/
*.egg-info/

# Editor or IDE settings
.vscode/
.idea/